name: AccuKnox Secret Scan Workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  secret-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run Secret Scan
        uses: accuknox/secret-scan-action@v0.0.1
        with:
          branch: "main"                              # Branch to scan
          results: ""                                 # Types of results: verified, unknown, unverified, filtered_unverified
          exclude_paths: "tests/,docs/"               # Paths to exclude
          additional_arguments: ""                    # Extra arguments for the scanner
          base_command: ""                            # Override default Docker command
          output_format: json                         # Output format
          output_file_path: "./secret_results.json"   # Output file path
          accuknox_token: ${{ secrets.ACCUKNOX_TOKEN }}
          accuknox_endpoint: ${{ secrets.ACCUKNOX_ENDPOINT }}
          accuknox_label: ${{ secrets.ACCUKNOX_LABEL }}
          soft_fail: true
